開発ニュース寄せ集め (第 xx 号)
==============================


このニュースは <http://wiki.debian.org/DeveloperNews> でまとめたものです。
寄稿はご自由にどうぞ。




この記事について
----------------

この記事は [debian-devel-announce に流れたニュース][0]の翻訳です。
翻訳は荒木淳さん・石井一夫さん・今井伸広さん・佐々木洋平さん・中尾隆さんが行いました。
また、xxさんから多数のコメントをいただきました。
ありがとうございます。

 [0]: http://lists.debian.org/debian-devel-announce/xxx.html
